{
  "extends": ["@menelaia/react-native"],
  "settings": {
    "import/resolver": {
      "babel-module": {}
    },
    "react": {
      "version": "18.1.0"
    }
  },
  "plugins": [
    "react",
    "react-native",
    "import",
    "simple-import-sort",
    "unused-imports"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module",
    "babelOptions": {
      "configFile": "./babel.config.js"
    }
  },
  "rules": {
    "global-require": "off"
  }
}
