{
  "extends": [
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "babel-module": {}
    },
    "react": {
      "version": "16.13.1"
    }
  },
  "plugins": [
    "react",
    "import",
    "unused-imports",
    "simple-import-sort"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "babelOptions": {
      "configFile": "./app/babel.config.js"
    }
  },
  "rules": {
    "react/require-default-props": 1,
    "react/jsx-filename-extension": "off",
    "unused-imports/no-unused-imports": "error",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          [
            "^react",
            "^@?\\w",
            "^shared(\/.*|$)",
            "^modules(\/.*|$)",
            "^\\u0000",
            "^\\.\\.(?!/?$)",
            "^\\.\\./?$",
            "^\\./(?=.*/)(?!/?$)",
            "^\\.(?!/?$)",
            "^\\./?$"
          ]
        ]
      }
    ],
    "import/newline-after-import": "error",
    "simple-import-sort/exports": "error",
    "no-use-before-define": [
      "error",
      {
        "variables": false
      }
    ],
    "react/jsx-one-expression-per-line": "off",
    "no-nested-ternary": "off"
  }
}
