{
  "extends": [
    "@menelaia/react-native"
  ],
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "babel-module": {}
    },
    "react": {
      "version": "16.13.1"
    }
  },
  "plugins": [
    "react",
    "react-native",
    "import",
    "simple-import-sort",
    "unused-imports"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module",
    "babelOptions": {
      "configFile": "./babel.config.js"
    }
  },
  "rules": {
    "import/prefer-default-export": 0,
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          [
            // Packages. `react` related packages come first.
            "^react",
            // Side effect imports.
            "^@?\\w",
            "^\\u0000",
            // Parent imports. Put `..` last.
            "^\\.\\.(?!/?$)",
            "^\\.\\./?$",
            "^",
            // Other relative imports. Put same-folder imports and `.` last.
            "^\\./(?=.*/)(?!/?$)",
            "^\\.(?!/?$)",
            "^\\./?$"
          ]
        ]
      }
    ],
    "unused-imports/no-unused-imports": 1
  }
}
